:root {
  --color-green: #1DB954;
  --color-black: #191414;
  --color-white: #FFFFFF;

  --color-footer-bg: #181818;
  --color-footer-border: #282828;

  --color-menu-bg: #000000;

  --color-activity-bg: #121212;

  --color-mac-close: #ED6A5E;
  --color-mac-close-border: #BB534A;
  --color-mac-minimise: #F5BF4F;
  --color-mac-minimise-border: #C1963E;
  --color-mac-maximise: #62C554;
  --color-mac-maximise-border: #4D9B42;

  --grid-baseline: 8px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
