.gradientMenuItem {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--grid-baseline) * 3.5);
  height: calc(var(--grid-baseline) * 3.5);
  border-radius: calc(var(--grid-baseline) / 2);
}

.scrollable {
  overflow-y: scroll;
  max-height: 100%;
}

.hRule {
  width: 100%;
  height: 1px;
  background-color: #111111;
  filter: brightness(200%);
  margin: var(--grid-baseline) 0;
}

.macOSWindow {
  display: flex;
  gap: calc(var(--grid-baseline) * 1.25);
}

.macOSWindow div {
  width: calc(var(--grid-baseline) * 1.5);
  height: calc(var(--grid-baseline) * 1.5);
  border-radius: 100px;
}

.macOSClose {
  background-color: var(--color-mac-close);
  border: 1px solid var(--color-mac-close-border);
}

.macOSMinimise {
  background-color: var(--color-mac-minimise);
  border: 1px solid var(--color-mac-minimise-border);
}

.macOSMaximise {
  background-color: var(--color-mac-maximise);
  border: 1px solid var(--color-mac-maximise-border);
}

.menu {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  padding: calc(var(--grid-baseline) * 2);
  gap: calc(var(--grid-baseline) * 2.5);

  background-color: var(--color-menu-bg);
}

.menuFake {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-baseline) * 1.5);
}

.menuFake:first-of-type {
  margin-bottom: calc(var(--grid-baseline) * 4.5);
}

.menuFakeLink {
  display: flex;
  align-items: center;
  gap: calc(var(--grid-baseline) * 2);

  color: var(--color-white);
}

.menuFakeLink p {
  font-size: 0.85rem;
  font-weight: 900;
  margin: 0;

  filter: brightness(65%);
}

.blogLinks {
  display: flex;
  flex-direction: column;
  gap: calc(var(--grid-baseline) * 2);
  max-height: calc(var(--grid-baseline) * 40);
  overflow-y: scroll;
}

.blogLinksGradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--grid-baseline) * 8);

  z-index: 100;

  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,100) 100%);
}

.blogLinks p {
  color: var(--color-white);
  filter: brightness(65%);

  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.85rem;
}